@import "tailwindcss";

@font-face {
  font-family: "Libre Franklin";
  src: url(/public/assets/fonts/LibreFranklin-Regular.ttf) format("truetype");
}

body {
  font-family: "Libre Franklin", sans-serif;
}
